root = true

[*.{js,mjs,cjs,ts,tsx,json,md,yml,yaml,css,html,sql}]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false

